{% for user in doc.users %}
	<div class='user'>
		<a class="no-decoration user-link {{ user.css_seen }}" href="/cloud_employees/{{ user.name }}">
		<div class='row user-item'>
			<div class='col-xs-9'>
				<span class="indicator {{ "green" if user.enabled else "darkgrey" }}" title="{{ user.enabled }}"  > {{ user.user }}</span>
	 				<div class="small text-muted item-timestamp"
	 					title="{{ frappe.utils.pretty_date(user.modified) }}">
	 					modified {{ frappe.utils.pretty_date(user.modified) }}
	 				</div>
			</div>
			{% if user.role %}
			<div class='col-xs-2'>
				 {{ _(user.role) }}
			</div>
			{% endif %}
		</div>
		</a>
	</div>
{% endfor %}
